<div class="row" is-private>
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well">
            <form name="frm" ng-submit="submit()" class="form-horizontal" class="col-md-7">
                <fieldset>
                    <legend>Troca Senha</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Senha Antiga:</label>
                        <div class="col-lg-10">
                            <input type="password" ng-model="trocaSenha.SenhaAntiga" type="text" required placeholder="Senha Antiga..." class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Senha Nova:</label>
                        <div class="col-lg-10">
                            <input type="password" ng-model="trocaSenha.SenhaNova" type="text" required placeholder="Senha Nova..." class="form-control" />
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" ng-disabled="frm.$invalid">Trocar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>