<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="well">
            <legend>Termos de Uso</legend>
            <p>
                Este aplicativo, poderá conter informações confidenciais do âmbito de ambas as empresas e destina-se exclusivamente à(s) pessoa(s) física(s) ou jurídica(s) devidamente autorizada(s). Todas as informações aqui contidas, deverão ser tratadas com confidencialidade e reserva durante a vigência deste instrumento e visam preservar e proteger os direitos de nossas empresas. Para tanto os acessos serão monitorados e se necessário, disponibilizados para averiguação.Qualquer divulgação, distribuição ou cópia do material aqui contido, fora do interesse de nossas empresas, e sem autorização, é estritamente proibida.
            </p>
            <p>
                Ao aceitar este termos, comprometo-me a seguir as orientações acima descritas.
            </p>
            <div class="pull-right">
                <a ng-href="/" class="btn btn-primary" style="margin-right: 5px">Aceitar</a>
                <button type="button" class="btn btn-default" ng-click="naoAceitar()">Recusar</button>
            </div>
            <br />
            <br />
        </div>
        
        <!--[if lte IE 8]>
        <div>
            <h4>
                Atenção! Para uma melhor experiência, utilize a versão mais atualizada do seu navegador.
            </h4>
        </div>
        <![endif]-->
    </div>
</div>